* {box-sizing: border-box;}
:root{
    --background-color: #ffd000;
}

body{
    background-color: #f2f2f2;
    font-family: Consolas, -apple-system;
    margin: 0;
    font-size: 25px;
  }

  .item1 { grid-area: header; }
  .menu { grid-area: menu; }
  .main { grid-area: main; }
  .item5 { grid-area: footer; }

  .the-whole-grid {
    display: grid;
    grid-auto-columns: 240px auto;
    grid-template-areas:
      'header header'
      'menu main'
      'menu footer';
    background-color: #d8d8d8;
  }
  
  .the-whole-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 10px;
  }
  