header{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
    height: 40px;
    box-shadow: 0 0 8px rgb(150, 150, 150);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
}
.logo{
    width: 200px;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font: 15px Consolas, -apple-system;
}
.logo img{
    width: auto;
    height: 85%;
    float: left;
}
.logo h1{
    float: left;
    margin: auto;
}
.search-box{
    width: 35%;
    position: relative;
    display: flex;
    flex-shrink: 2;
  }
.search-input{
    padding: 0px 10px;
    width: 100%;
    border: 2px solid #000000;
    border-radius:10px 0 0 10px ;
    border-right: none;
    font-size: 20px;
    color: #000000;
    background: #f2f2f2;
  }
  .search-input:focus{
    border: 2px solid var(--background-color);
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    background: #ffffff;
  }
  .search-button{
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 4px solid #000000;
    border-radius: 0 10px 10px 0 ;
    border-left: none;
    background: black;
    font-size: 20px;
    border-left: 4px solid #000000;
    color: rgb(255, 255, 255);
  }
  .search-box .button:hover,
  .search-button:hover,
  .choices .button:hover{
    color: var(--background-color);
    transition-duration: .5s;
  }
  .choices{
    display: flex;
    flex-direction: row;
  }
  .button{
    outline: none;
    background: none;
    border: none;
    font-size: 23px;
    color: gray;
    cursor: pointer;
    margin: 0 5px;
  }
  .choices .button{
    color:rgb(0, 0, 0);
  }
  .button-profile{
      transition-duration: .5s;
      background-color: var(--background-color);
      width: 38px;
	    height: 38px;
      font-size: 15px;
	    border-radius: 100%;
  }
  .button-profile:hover{
    transition-duration: .5s;
    border-radius: 50%;
    background-color: black;
    color:var(--background-color);
  }
  
  .dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    font-size: 18px;
    display: none;
    right: 0;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:.5px solid rgb(214, 214, 214);
  }
  .dropdown-content a i {
    margin-right: 10px;
  }
  #log-out{
      color:red;
      border-bottom: none;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  