.main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.categories{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    
}
/* хром, сафари */
.categories::-webkit-scrollbar { width: 0; display: none; }

/* ie 10+ */
.categories { -ms-overflow-style: none; }

.categories .button {
    background-color: black;
    text-align: center;
    font-size: 16px;
    height: 30px;
    margin: 0 8px;
    border-radius: 20px;
    border: 2px solid var(--background-color);
    color:white;
    min-width: 45px;
    flex-shrink: 0;
}
.categories .button:first-child {
    background-color: var(--background-color);
    color:rgb(255, 255, 255);
    border: 2px solid white;
}
.categories .button:hover {
    background-color: white;
    color:var(--background-color);
    transition-duration: .5s;
}
.videos{
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    cursor:pointer;
    justify-content:center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 10px;
}
.video{
    /* position:absolute; */
    width:100%;
    min-width:300px;
    height:auto;
}
.preview{
    width:100%;
    height: 225px;
    position:relative
}
.preview img {
    width:100%;
    height:100%;
    object-fit:cover;
 }
 .preview .live-label{
     position:absolute;
     top:0;
     left:0;
     background-color:red;
     border-radius: 12%;
     color:white;
     font-size:18px;
     margin: 5px;
     padding: 0 2px;
     box-shadow: 0px 0px 5px black;
 }
 .preview .bottom-label{
    position:absolute;
    bottom:0;
    right:0;
    background-color: hsla(50, 33%, 25%, .75);;
    border-radius: 7%;
    color:white;
    font-size:15px;
    margin: 5px;
    padding: 0 2px;
    box-shadow: 0px 0px 5px black;
}
 /* .preview .layout{
     position:absolute;
     width:inherit;
     height:inherit;
     background-color: black;
     opacity: 0;
 } */
 
 .preview .layout{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    color: var(--background-color);
    background-color:black;
    width:inherit;
    height:inherit;
    display: flex;
  align-items: center;
  justify-content:center
 }
 .preview .layout:hover{
    opacity: 70%;
    transition: .9s ease;
    /* animation: fadeIn;
    animation-duration: 2s; */
 }
 .description{
     height: 40px;
     vertical-align: top;
     width:100%;
     font-size:10px;
     overflow: hidden;
     display: grid;
     grid-template-columns: 20% 70% 10%;
     grid-template-rows:60% 40%;
 }
 .description .avatar{
     grid-column: 1/2;
     grid-row:1/3;
     align-self: center;
     justify-content: center;
     margin-left:10px;
     width:35px;
     height:35px;
     cursor:pointer
 }
 .description h1{
     grid-column:2;
     grid-row:1;
     margin:0;
     text-align: left;
     white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    cursor:pointer;
 }
 .description h2{
    grid-column:2;
    grid-row:2;
    margin:0;
    text-align: left;
    color: gray;
    cursor: pointer;
}
.description i:hover,
.description h1:hover,
.description h2:hover{
    color: var(--background-color);
}
.description i{
    grid-column:3;
    grid-row:1;
    font-size:18px;
    align-self: center;
     justify-content: center;
     text-align:center;
     cursor:pointer
}

.footer {
    padding-top: 50px;
    text-align: center;
}