.menu .streamers-block {
    list-style-type: none;
    margin: 0;
    padding:0px;
    overflow:auto;
    width: inherit;
    background-color:  #e2e2e2;
    flex-grow: 1;
    text-overflow: ellipsis;
  }
  .streamers-block::-webkit-scrollbar {
    width: 12px;
}

.streamers-block::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}
.streamers-block::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.streamers-block::-webkit-scrollbar-thumb {
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
.streamers-block li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    height: 50px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .streamers-block .user-name{
    flex-grow:3;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    margin-left: 15px;
    text-overflow: ellipsis;
  }
  .streamers-block .user-name:hover{
    color:var(--background-color);
  }
  .avatar{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    flex-grow: 0;
  }
.streamers-block li a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
.menu{
    position: relative;
    width: 240px;
    height: 100%;
}
.menu-fixed{
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 100%;
}
.info-block{
    border:20px solid #e2e2e2;
    height: 150px;
    margin-bottom: 35px;
    flex-grow:0;
    flex-shrink: 0;
    width: inherit;
    align-self: flex-end;
    color: black;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
    font-size: 20px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}
.info-block .button:hover{
  color: var(--background-color);
  transition-duration: .5s;
}
.pulse {
  margin: 10px;
  display: block;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--background-color);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
.streamers-block h5, h4{
  margin: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.info-text{
  grid-column: 1/4;
  align-self: center;
}
.info-block .button{
  color:black;
  align-self: center;
  text-align: center;
}
.info-text b::selection{
    color:rgb(255, 255, 255);
    background-color: var(--background-color);
}

@media (max-width:1200px) {
  .streamers-block h5, .streamers-block .pulse, .info-block{
      display:none;
  }
  .menu{
    width: auto;
  }
  .the-whole-grid{
    grid-auto-columns: 80px auto;
  }
}